.wrapper .container{
    display: grid;
    justify-content: space-between;
   
    align-items: center;
    padding: 1rem;
  }
  .oursbutton{
    border-radius: 4px;
    color: #049A01;;
    border: 1px solid #F0FFEE;
  }
  .Ibutton{
    color: #0D019A;
    border-radius: 4px;
    border: 1px solid #EEF8FF;
  }
  h3{
    color: #474747;
    font-size: 24px;
  }
  .duis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .esse{
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    letter-spacing: 0.02em;
    
    color: #474747;
  }
  @media screen and (max-width: 940px){
    .wrapper .container{
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
  }